		*{
			box-sizing: border-box;
		}
		.game{
			width: 400px;
			min-height: 400px;
			display: grid;
			grid-template-columns:auto;
			grid-template-rows:20% auto 10%;
			border: 1px solid black;
			border-radius: 10px;
			overflow: hidden;
		}
		
		.display{
			display: flex;
			width: 100%;
			height: 50%;
			justify-content: space-around;
			align-items: center;
		}
		
		.players-wrapper, .msg-wrapper,{
			--display: flex;
			--width: 100%;

		}
		.players-wrapper{
		
		}







		.board-area{
			border-top: 1px solid black;
			border-bottom: 1px solid black;
		}

		.board{
			width: 100%;
			height: 100%;
			
		}
		.row{
			width: 100%;
			height: 33.333%;
			
			display: flex;
		}
		.col{
			padding: 5px;
			width: 33.333%;
			height: 100%;
			
		}


		.piece{
			width: 100%;
			height: 100%;
			background-color: #ccc;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 3rem;
		}
		.piece:hover{
			border:1px solid red;
		}

		.btn-wrapper{
			height: 100%;
			
		}
		.btn{
			padding: 5px;
			border: 1px solid black;
			cursor: pointer;
			border-radius: 5px;
		}
		.btn:hover{
			background-color: #ccc;
		}
